<template>
  <div>
    <!-- <Handle /> -->
    <Counter />
  </div>
</template>

<script>
// import Handle from './components/Handle.vue';
import Counter from './components/Counter.vue';
export default {
  name: 'App',
  components: {
    // Handle,
    Counter
  },
  
}
</script>

<style>

</style>